
.ItemListFantasy {
    background-color: black;
    margin-left: 45px;
    margin-right: 45px;
        color: white;
        border-style: 1px solid black;
        
    }
    .Fantasy  {
        text-align: center;
    }
    .FullPageFantasy {
        background-image: url('https://images5.alphacoders.com/887/887518.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    }